h1 {
    /* font-size: 4vw; */
    text-align: center;
    /* color: #000000; */
    font-family: Baskerville,
        "Baskerville Old Face",
        "Hoefler Text",
        Garamond,
        "Times New Roman",
        serif;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#title-box:hover h1 {
    color: gray;
}

#title-box{
    flex-flow: column nowrap;
    justify-content: space-between;
}
